<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>25F80</string>
	<key>CFBundleExecutable</key>
	<string>TotalSegmentatorHorosPlugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.totalsegmentator.thalesmms</string>
	<key>CFBundleName</key>
	<string>TotalSegmentatorHorosPlugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>25F70</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>26.5</string>
	<key>DTSDKBuild</key>
	<string>25F70</string>
	<key>DTSDKName</key>
	<string>macosx26.5</string>
	<key>DTXcode</key>
	<string>2650</string>
	<key>DTXcodeBuild</key>
	<string>17F42</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>MACOSX_DEPLOYMENT_TARGET</key>
	<string>11.0</string>
	<key>MenuTitles</key>
	<array>
		<string>TotalSegmentator</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>TotalSegmentatorHorosPlugin</string>
	<key>ToolbarIcon</key>
	<string>TotalSegmentatorToolbar.png</string>
	<key>ToolbarNames</key>
	<array>
		<string>TotalSegmentator</string>
	</array>
	<key>TotalSegmentatorCertificationStatusDisplayName</key>
	<string>Research/non-diagnostic</string>
	<key>TotalSegmentatorCertificationStatusIdentifier</key>
	<string>research-non-diagnostic</string>
	<key>TotalSegmentatorMedicalImagingCertified</key>
	<false/>
	<key>TotalSegmentatorValidationEvidenceVersion</key>
	<string>none</string>
	<key>allowToolbarIcon</key>
	<string>YES</string>
	<key>modalities</key>
	<array>
		<string>MR</string>
		<string>CT</string>
	</array>
	<key>pluginType</key>
	<string>roiTool</string>
</dict>
</plist>
