<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>TotalSegmentatorHorosPlugin</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>TotalSegmentatorCertificationStatusIdentifier</key>
	<string>research-non-diagnostic</string>
	<key>TotalSegmentatorCertificationStatusDisplayName</key>
	<string>Research/non-diagnostic</string>
	<key>TotalSegmentatorMedicalImagingCertified</key>
	<false/>
	<key>TotalSegmentatorValidationEvidenceVersion</key>
	<string>none</string>
	<key>MenuTitles</key>
	<array>
		<string>TotalSegmentator</string>
	</array>
	<key>NSPrincipalClass</key>
	<string>TotalSegmentatorHorosPlugin</string>
	<key>ToolbarIcon</key>
	<string>TotalSegmentatorToolbar.png</string>
	<key>ToolbarNames</key>
	<array>
		<string>TotalSegmentator</string>
	</array>
	<key>allowToolbarIcon</key>
	<string>YES</string>
	<key>modalities</key>
	<array>
		<string>MR</string>
		<string>CT</string>
	</array>
	<key>pluginType</key>
	<string>roiTool</string>
	<key>LSMinimumSystemVersion</key>
	<string>11.0</string>
	<key>MACOSX_DEPLOYMENT_TARGET</key>
	<string>11.0</string>
</dict>
</plist>
